# TF-IDF code 'from scratch'

In [150]:
import pandas as pd

In [151]:
documentA = 'My name is salma mohamed fawzy'
documentB = 'I am a student in faculty of computers and artificial intelligence'

In [152]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [153]:
bagOfWordsA

['My', 'name', 'is', 'salma', 'mohamed', 'fawzy']

In [182]:
#remowing stopwords
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
text_tokens1 = bagOfWordsA
text_tokens2 = bagOfWordsB
tokens_without_sw1 = [word for word in text_tokens1 if not word in stopwords.words()]
tokens_without_sw2 = [word for word in text_tokens2 if not word in stopwords.words()]
print(tokens_without_sw1)
print(tokens_without_sw2)

['My', 'salma', 'mohamed', 'fawzy']
['I', 'student', 'faculty', 'computers', 'artificial', 'intelligence']

In [160]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB)) #حذف التكرار مع الترتيب   set + هعمل اتحاد للاتنين 
uniqueWords

{'I',
 'My',
 'a',
 'am',
 'and',
 'artificial',
 'computers',
 'faculty',
 'fawzy',
 'in',
 'intelligence',
 'is',
 'mohamed',
 'name',
 'of',
 'salma',
 'student'}

In [161]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
numOfWordsA

{'student': 0,
 'in': 0,
 'name': 0,
 'My': 0,
 'computers': 0,
 'and': 0,
 'artificial': 0,
 'fawzy': 0,
 'of': 0,
 'I': 0,
 'faculty': 0,
 'salma': 0,
 'a': 0,
 'am': 0,
 'is': 0,
 'mohamed': 0,
 'intelligence': 0}

In [162]:
#A words=number of it's existence , other words = 0
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsA

{'student': 0,
 'in': 0,
 'name': 1,
 'My': 1,
 'computers': 0,
 'and': 0,
 'artificial': 0,
 'fawzy': 1,
 'of': 0,
 'I': 0,
 'faculty': 0,
 'salma': 1,
 'a': 0,
 'am': 0,
 'is': 1,
 'mohamed': 1,
 'intelligence': 0}

In [163]:
#B words=number of it's existence , other words = 0

numOfWordsB = dict.fromkeys(uniqueWords, 0)

for word in bagOfWordsB:
    numOfWordsB[word] += 1

numOfWordsB

{'student': 1,
 'in': 1,
 'name': 0,
 'My': 0,
 'computers': 1,
 'and': 1,
 'artificial': 1,
 'fawzy': 0,
 'of': 1,
 'I': 1,
 'faculty': 1,
 'salma': 0,
 'a': 1,
 'am': 1,
 'is': 0,
 'mohamed': 0,
 'intelligence': 1}

In [164]:
#now, we know every word in every sent & how many it exists

In [165]:
#TF calculation function
def computeTF(wordDict, bagOfWords):
    tfDict = {}                          #empty dictionary
    bagOfWordsCount = len(bagOfWords)     #num of words in BOW
    for word, count in wordDict.items():  #to return word and its count 
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

In [166]:
tfA = computeTF(numOfWordsA,bagOfWordsA) #call TF fun. for the A sent.
tfA

{'student': 0.0,
 'in': 0.0,
 'name': 0.16666666666666666,
 'My': 0.16666666666666666,
 'computers': 0.0,
 'and': 0.0,
 'artificial': 0.0,
 'fawzy': 0.16666666666666666,
 'of': 0.0,
 'I': 0.0,
 'faculty': 0.0,
 'salma': 0.16666666666666666,
 'a': 0.0,
 'am': 0.0,
 'is': 0.16666666666666666,
 'mohamed': 0.16666666666666666,
 'intelligence': 0.0}

In [167]:
tfB = computeTF(numOfWordsB, bagOfWordsB)   #call TF fun. for the B sent.
tfB

{'student': 0.09090909090909091,
 'in': 0.09090909090909091,
 'name': 0.0,
 'My': 0.0,
 'computers': 0.09090909090909091,
 'and': 0.09090909090909091,
 'artificial': 0.09090909090909091,
 'fawzy': 0.0,
 'of': 0.09090909090909091,
 'I': 0.09090909090909091,
 'faculty': 0.09090909090909091,
 'salma': 0.0,
 'a': 0.09090909090909091,
 'am': 0.09090909090909091,
 'is': 0.0,
 'mohamed': 0.0,
 'intelligence': 0.09090909090909091}

In [168]:
#Inverse Document Frequency = N'num of all docs'/DF'num of docs, the word in'
#IDF calculation function  

def computeIDF(documents):
    import math
    N = len(documents)                               #num of all Docs
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)   
    for document in documents:                       #loop on Docs
        for word, val in document.items():            #word , doc.freq
            if val > 0:                               #if val of occurence>0 #if it exists in the doc
                idfDict[word] += 1                    #id dict +1 
    
    for word, val in idfDict.items():                 #val=DF
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [169]:
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'student': 0.6931471805599453,
 'in': 0.6931471805599453,
 'name': 0.6931471805599453,
 'My': 0.6931471805599453,
 'computers': 0.6931471805599453,
 'and': 0.6931471805599453,
 'artificial': 0.6931471805599453,
 'fawzy': 0.6931471805599453,
 'of': 0.6931471805599453,
 'I': 0.6931471805599453,
 'faculty': 0.6931471805599453,
 'salma': 0.6931471805599453,
 'a': 0.6931471805599453,
 'am': 0.6931471805599453,
 'is': 0.6931471805599453,
 'mohamed': 0.6931471805599453,
 'intelligence': 0.6931471805599453}

In [170]:
def computeTFIDF(tfBagOfWords, idfs):    #tf*idf ... "multiply them"
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [171]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfA

{'student': 0.0,
 'in': 0.0,
 'name': 0.11552453009332421,
 'My': 0.11552453009332421,
 'computers': 0.0,
 'and': 0.0,
 'artificial': 0.0,
 'fawzy': 0.11552453009332421,
 'of': 0.0,
 'I': 0.0,
 'faculty': 0.0,
 'salma': 0.11552453009332421,
 'a': 0.0,
 'am': 0.0,
 'is': 0.11552453009332421,
 'mohamed': 0.11552453009332421,
 'intelligence': 0.0}

In [172]:
tfidfB = computeTFIDF(tfB, idfs)
tfidfB

{'student': 0.06301338005090412,
 'in': 0.06301338005090412,
 'name': 0.0,
 'My': 0.0,
 'computers': 0.06301338005090412,
 'and': 0.06301338005090412,
 'artificial': 0.06301338005090412,
 'fawzy': 0.0,
 'of': 0.06301338005090412,
 'I': 0.06301338005090412,
 'faculty': 0.06301338005090412,
 'salma': 0.0,
 'a': 0.06301338005090412,
 'am': 0.06301338005090412,
 'is': 0.0,
 'mohamed': 0.0,
 'intelligence': 0.06301338005090412}

In [173]:
df = pd.DataFrame([tfidfA, tfidfB]) # Data Frame to put them in a table 
df.head()                           #the table value is zero if the word is not in the sent

,student,in,name,My,computers,and,artificial,fawzy,of,I,faculty,salma,a,am,is,mohamed,intelligence
0,0.000000,0.000000,0.115525,0.115525,0.000000,0.000000,0.000000,0.115525,0.000000,0.000000,0.000000,0.115525,0.000000,0.000000,0.115525,0.115525,0.000000
1,0.063013,0.063013,0.000000,0.000000,0.063013,0.063013,0.063013,0.000000,0.063013,0.063013,0.063013,0.000000,0.063013,0.063013,0.000000,0.000000,0.063013

# TF-IDF code using SKlearn library

In [174]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()        #take object
vectors = vectorizer.fit_transform([documentA, documentB])
print(vectors)

  (0, 5)	0.408248290463863
  (0, 9)	0.408248290463863
  (0, 13)	0.408248290463863
  (0, 8)	0.408248290463863
  (0, 11)	0.408248290463863
  (0, 10)	0.408248290463863
  (1, 7)	0.33333333333333337
  (1, 2)	0.33333333333333337
  (1, 1)	0.33333333333333337
  (1, 3)	0.33333333333333337
  (1, 12)	0.33333333333333337
  (1, 4)	0.33333333333333337
  (1, 6)	0.33333333333333337
  (1, 14)	0.33333333333333337
  (1, 0)	0.33333333333333337

In [175]:
feature_names = vectorizer.get_feature_names()
feature_names

['am',
 'and',
 'artificial',
 'computers',
 'faculty',
 'fawzy',
 'in',
 'intelligence',
 'is',
 'mohamed',
 'my',
 'name',
 'of',
 'salma',
 'student']

In [176]:
dense = vectors.todense()
dense

matrix([[0.        , 0.        , 0.        , 0.        , 0.        ,
         0.40824829, 0.        , 0.        , 0.40824829, 0.40824829,
         0.40824829, 0.40824829, 0.        , 0.40824829, 0.        ],
        [0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333,
         0.        , 0.33333333, 0.33333333, 0.        , 0.        ,
         0.        , 0.        , 0.33333333, 0.        , 0.33333333]])

In [177]:
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

,am,and,artificial,computers,faculty,fawzy,in,intelligence,is,mohamed,my,name,of,salma,student
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.408248,0.408248,0.408248,0.408248,0.000000,0.408248,0.000000
1,0.333333,0.333333,0.333333,0.333333,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333